{% extends 'cuisine/base.html' %}
{% load crispy_forms_tags %}

{% block main-content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Login</h2>
          <form method="post" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group mt-4">
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
          </form>
          <div class="border-top pt-3 text-center">
            <p>Don't have an account? <a href="#">Register here.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
