{% extends 'cuisine/base.html' %} 
{% load static %}
{% block main-content %}

  <div class="container">
    <h1 class="mb-4 text-center">Profile</h1>
    <div class="d-flex justify-content-center align-items-center mb-4">
      <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="rounded-circle shadow-lg" style="width: 200px; height: 200px; object-fit: cover;">
    </div>
    <h2 class="text-center">{{ user.username }}</h2>
    <div class="d-flex justify-content-center">
      <a href="{% url 'edit_profile' pk=user.pk %}" class="btn btn-primary">Edit Profile</a>
    </div>
  </div>

{% endblock %}
