{% extends 'cuisine/base.html' %}

{% block main-content %}
    <div class="container">
        <h1 class="my-4">About Us</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dlclpbfkf/image/upload/v1680436220/mkpyvs94bpp0faibasub.jpg" alt="About Us" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>We are a team of passionate chefs who love to experiment with different cuisines and ingredients. Our goal is to share our love for food with the world and inspire others to get creative in the kitchen.</p>
                <p>We believe that cooking should be fun and accessible to everyone, regardless of their skill level. That's why we created this recipe menu to help people discover new dishes and learn how to cook them.</p>
                <p>Whether you're a beginner or an experienced cook, we hope that you'll find something here that will inspire you to try something new and exciting.</p>
            </div>
        </div>
    </div>
{% endblock %}
