{% extends 'cuisine/base.html' %}
{% load cloudinary %}

{% block main-content %}

<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">Recipe # {{ object.id }}</h1>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author:{{ object.author }}</h6>
               
                <h6 class="card-subtitle mb-2 text-muted">Description:{{ object.description }}</h6>
                
                <h6 class="card-subtitle mb-2 text-muted">Ingredients:{{ object.ingredients }}</h6>
                
                <p class="card-text"><small class="text-muted">Created on {{ object.created_date|date:"F jS, Y" }}</small></p>
            </div>
            {% if object.image %}
                <img src="{% cloudinary_url object.image.url %}" alt="{{ object.title }}">
            {% endif %}
            </div>

        {% if object.author == request.user %}
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-outline-info btn-block" href="{% url 'cuisine-update' object.id %}">Update</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-outline-danger btn-block" href="{% url 'cuisine-delete' object.id %}">Delete</a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Comments</h5>
                {% for comment in cuisine.get_comments %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-subtitle mb-2 text-muted"><strong>{{ comment.author }}</strong> - {{ comment.created_date }}</p>
                            <p class="card-text">{{ comment.text }}</p>
                            {% if comment.author == user or user.is_staff %}
                            <form method="POST" action="{% url 'delete-comment' comment.pk %}">
                            {% csrf_token %}
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                            </form>
                             {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <p><a class="btn btn-primary" href="{% url 'add-comment' cuisine_id=object.id %}">Add Comment</a></p>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}
