{% extends 'cuisine/base.html' %}

{% block main-content %}

<div class="row">
    <div class="col-md-8">
        <h1>Recipe # {{ object.id }}</h1>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.author }}</h6>
                <p class="card-text">{{ object.description }}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.ingredients }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.created_date }}</h6>
            </div>
        </div>

        {% if object.author == user or user.is_staff %}
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-outline-info btn-block" href="{% url 'cuisine-update' object.id %}">Update</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-outline-danger btn-block" href="{% url 'cuisine-delete' object.id %}">Delete</a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Comments</h5>
                {% for comment in cuisine.get_comments %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-subtitle mb-2 text-muted"><strong>{{ comment.author }}</strong> - {{ comment.created_date }}</p>
                            <p class="card-text">{{ comment.text }}</p>
                        </div>
                    </div>
                {% endfor %}
                <p><a class="btn btn-primary" href="{% url 'add-comment' cuisine_id=object.id %}">Add Comment</a></p>
            </div>
        </div>
    </div>
    
</div>


{% endblock %}
