{% extends 'cuisine/base.html' %}

    {% block main-content %}

    <h1>Cuisine </h1>
    {% for cuisine in cuisines %}
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ cuisine.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ cuisine.ingredients }}</h6>
          <p class="card-text">{{ cuisine.prep_time }}</p>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ cuisine.created_at }}</h6>
          <a href="#" class="card-link"> view Cuisine </a>
          
        </div>
      </div>
    {% endfor %}

    {% endblock%}
